body{
font-family: Futura;
background: #F2F2F2;
text-align: center;
}

a{
text-decoration: none;
color: blue;

}
a:hover{
text-decoration: none;
opacity: 0.7;
color: blue;
}

#navbar{
text-align: left;
text-transform: uppercase;
padding: 10px;
font-size: 14px;
color: #FFF;
background: #000;
opacity: 0.9;
}

#navbar a{
margin-right: 20px;
margin-left: 20px;
color: #FFF;
}

#navbar a:hover{
opacity: 0.7;
}

.header{
margin-left: -30px;
padding: 50px;
background: #000;
background-size: 100%;
color: #FFF;
opacity: 0.7;
}

#wrapper{
background: #FFF;
position: absolute;
left: 50%;
padding: 10px;
margin-top: 10px;
width: 80vw;
height: 90vh;
margin-left: -40vw;
overflow: scroll;
}

#about{
margin-top: 100px;
}

.projects{
overflow: scroll;
}

.project{
display: inline-block;
width: 300px;
padding: 5px;
padding-bottom: 20px;
margin: 10px;
vertical-align: top
}

.projectHeader{
height: 100px;
width: 300px;
}

.projectName{
font-size: 20px;
padding: 10px;
}
