body{
font-family: Futura;
text-align: center;
overflow: hidden;
}

#container{
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
position: absolute;
}

a{
text-decoration: none;
color: #fff;

}
a:hover{
text-decoration: none;
opacity: 0.7;
color: #fff;
}

#navbar{
text-align: left;
z-index: 10;
position: fixed !important;
text-transform: uppercase;
padding: 10px;
font-size: 14px;
padding: 10px;
font-size: 14px;
color: #FFF;
background: #000;
opacity: 0.9;
width: 100%;
cursor: default;
}

.navbarLink {
display: inline-block;
margin-right: 20px;
cursor: pointer;
}


.navbarLink:hover{
opacity: 0.7;
}

.navbarLink:active{
    opacity: 0.3;
}

.header{
margin-left: -30px;
}

#about{
display: none;
background: none;
padding: 30px;
margin-top: 50px;
}

#projects{
background: #fff;
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: center;
padding: 30px;
margin-top: 50px;
}

#projectOverview{
background: #FFF;
padding-top: 10px;
padding-left: 20%;
padding-right: 20%;
align-content: center;
}

#links img{
margin: 5px;
}

#info, #headline, #links{
margin-bottom: 10px;
}

.project{
display: flex;
justify-content: center;
align-items: center;
height: 250px;
margin: 10px;
cursor: pointer;
}

.project:hover {
opacity: 0.6;
}

#librari{
background-image: url("images/librari-bg.png");
}

#plotTwitch{
background-image: url("images/plottwitch-bg.png");
}

#orienteeringApp{
background-image: url("images/orienteering-bg.png");
}

#dinnerPlanner{
background-image: url("images/dinnerPlanner-bg.png");
}

.logo{
background: none;
display: block;
width: 250px;
font-size: 20px;
}

#dinnerPlanner .logo{
color: #fff;
background: #000;
opacity: 0.6;
padding: 5px;
}

#plotTwitch{
visibility: visible;
}
